<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="BashWebSite" verbose="8">
	<test name="FirstTest">
		<classes>
			<class name="testScript.BashTS">
				<methods>
					<exclude name="verifyBash001NewUserRegister"></exclude>
					<exclude name="verifyBash002RegisterWithGoogle"></exclude>
					<exclude name="verifyBash003RegisterWithfaceBook"></exclude>
					<exclude name="verifyBash004RegisterWithApple"></exclude>
					<exclude name="verifyBash006ValidDeatilsUserLogin"></exclude>
					<include name="verifyBash007OptionBaseSearchProduct"></include>
				</methods>
			</class>
		</classes>
	</test>
</suite> 
